---
import BaseLayout from '../layouts/base-layout.astro';
import {Image} from 'astro:assets';
import Fox from '../assets/fox.jpg';

const pageTitle: string = `Home`;
const h1Color: string = `#fff`;
const h1Bg: string = `#000`;
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>Lorem ipsum dolor</p>
	<img src="https://randomfox.ca/images/68.jpg" alt="Remote" width={200} height={200} style="object-fit: contain" />
	<Image src={Fox} height={400} alt="Taken from randomfox.ca" id="random-fox" />
	<Image src="/favicon.svg" alt="The Favicon" width={200} height={200}/>

	<script>
		import '../scripts/click-on-fox.ts';
	</script>
</BaseLayout>

<style define:vars={{h1Color, h1Bg}}>
	 h1 {
		color: var(--h1Color);
		background-color: var(--h1Bg);
	}
	.active-fox {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
		transition: ease 0.5s all;
	}
</style>

